<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>Calendar</title>
    <style>
      .selected-day {
        background-color: yellow !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">Calendar for {{ year }}-{{ month }}</h1>
      <form id="calendar-form" method="POST" class="form-inline my-4">
        <div class="form-group mx-sm-3 mb-2">
          <label for="year" class="sr-only">Year</label>
          <input type="number" class="form-control" id="year" name="year" value="{{ year }}" placeholder="Year">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="month" class="sr-only">Month</label>
          <input type="number" class="form-control" id="month" name="month" value="{{ month }}" placeholder="Month">
        </div>
        <input type="hidden" id="day" name="day" value="{{ day }}">
        <button type="submit" class="btn btn-primary mb-2">Show Calendar</button>
      </form>
      <div class="calendar">
        {{ calendar|safe }}
      </div>

      <h2 class="mt-4">Tasks for {{ year }}-{{ month }}-{{ day }}</h2>
      <u1 id="task-list">
        {% for task in tasks %}
          <li>{{ task }}
            <form method="POST" style="display-inline;">
              <input type="hidden" name="year" value="{{ year }}">
              <input type="hidden" name="month" value="{{ month }}">
              <input type="hidden" name="day" value="{{ day }}">
              <input type="hidden" name="delete_task" value="{{ task }}">
              <button type="submit" class="btn btn-danger btn-sm delete-task-btn">Delete</button>
            </form>
          </li>
        {% endfor %}
      </u1>
      <form id="task-form" method="POST" class="form-inline">
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="month" value="{{ month }}">
        <input type="hidden" name="day" value="{{ day }}">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="task" name="task" placeholder="New Task">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add Task</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>